body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


header {
    position: sticky;
    top: 0;
}

h1 {
    background-color: lightsalmon;
    color: #333;
    text-align: center;
    padding: 10px;
}

#instruct {
    display: block;
    margin-left: 60px;
    margin-right: auto;
    width: 275px;
    height: 90px;
    padding: 5px;
    background-color: lightsalmon;
    color: #333;
    text-align: center;
    position: sticky;
    top: 80px;

}

.grid-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 70%;
    padding-bottom: 0;
}

.grid-item:hover {
    cursor: pointer;
}

#imageGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}



footer {
    background-color: #333;
    color: lightsalmon;
    text-align: center;
    padding: 10px;
}